<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${users} and ${users.size()}">no user :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Email</th>

    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>




    </tr>

</table>

<nav th:fragment="navigation">
    <a href="/audio">audio</a> |
    <a href="/user/add">add user</a> |

</nav>

</body>
</html>