<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Welcome to my audio diary</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${audio}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="filepath">Filepath</label>
        <input class="form-control" th:field="*{filepath}" />
        <span th:errors="*{filepath}" class="error"></span>
    </div>


    <input type="submit" value="Add Audio" />
</form>

</body>
</html>